<div class="form-container" *ngIf="client$ | async as client">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput [value]="client?.firstName" name="firstName" readonly />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput [value]="client?.lastName" name="lastName" readonly />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Bank Account Number</mat-label>
        <input matInput [value]="client?.bankAccountNumber" name="bankAccountNumber" readonly />
    </mat-form-field>
</div>