<mat-card class="pay-loan-card-container" appearance="outlined">
    <mat-card-header class="pay-loan-card-header">
        <mat-card-title>Pay Loan</mat-card-title>
    </mat-card-header>
    <mat-card-content class="pay-loan-card-content">
        <mat-form-field class="pay-loan-card-content-amount">
            <mat-label>Amount</mat-label>
            <input matInput type="number" min="500" max="10000">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Notes</mat-label>
            <textarea matInput rows="3"></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="pay-loan-card-actions">
        <button matButton="elevated" class="pill-button" mat-flat-button color="primary">Pay Loan</button>
    </mat-card-actions>
</mat-card>