<form [formGroup]="form">
    <mat-card class="get-loan-card-container" appearance="outlined">
        <mat-card-header class="get-loan-card-header">
            <mat-card-title>Get Loan</mat-card-title>
        </mat-card-header>

        <mat-card-content class="get-loan-card-content">
            <mat-form-field class="get-loan-card-content-amount">
                <mat-label>Amount</mat-label>
                <input matInput type="number" min="500" max="10000" formControlName="amount">

                @if (form.controls.amount.hasError('required')) {
                <mat-error>Amount is required</mat-error>
                }
                @if (form.controls.amount.hasError('min')) {
                <mat-error>Amount must be at least 500</mat-error>
                }
                @if (form.controls.amount.hasError('max')) {
                <mat-error>Amount cannot exceed 10,000</mat-error>
                }
            </mat-form-field>

            <mat-form-field>
                <mat-label>Due Date</mat-label>
                <input matInput type="date" formControlName="dueDate">

                @if (form.controls.dueDate.hasError('required')) {
                <mat-error>Due date is required</mat-error>
                }
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions class="get-loan-card-actions">
            <button class="pill-button" mat-flat-button color="primary" type="button" (click)="confirm()">
                Get Loan
            </button>
            <button class="pill-button" mat-flat-button color="warn" type="button" (click)="close()">
                Cancel
            </button>
        </mat-card-actions>
    </mat-card>
</form>