.example-container {
    background-color: #1976d2;
    height: 50px;
    width: 100%;
    position: fixed;
}

.example-sidenav {
    height: 100%;
    background-color: #1976d2;
    position: fixed;
}

.arrow {
    padding: 10px;
    color: white;
    font-size: 30px;
}