<mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-icon class="arrow" matButton (click)="drawer.toggle()">arrow_back</mat-icon>
    <div class="sidenav-content">
        <textarea>lllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll</textarea>
    </div>
</mat-drawer>

<mat-drawer-container class="example-container">
    <div class="example-sidenav-content">
        <mat-icon class="arrow" matButton (click)="drawer.toggle()">arrow_forward</mat-icon>
    </div>
</mat-drawer-container>