.navbar-container {
    background-color: #1976d2;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.sidenav-container {
    height: 100%;
    background-color: #1976d2;
    position: fixed;
}

.arrow {
    padding: 10px;
    color: white;
    font-size: 30px;
}

.sidenav-content {
    padding-top: 10px;
    width: 120px;
    display: grid;
    justify-content: center;
}