<mat-drawer-container class="navbar-container">
    <div class="navbar-content">
        <mat-icon class="arrow" matButton (click)="drawer.toggle(); toggleBackwordsClasses()"
            [class.backwords]="isBackwards()">
            arrow_forward</mat-icon>
    </div>
    <mat-drawer #drawer class="sidenav-container" mode="side">
        <div class="sidenav-content">
            <mat-button-toggle-group vertical [value]="'client'">
                <mat-button-toggle value="client" active>Client </mat-button-toggle>
                <mat-button-toggle value="admin">Admin</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </mat-drawer>
</mat-drawer-container>