<div class="debts-container">
    @for (debt of debts; track debt.id ?? $index) {
    <mat-card class="debt-card payments-container" appearance="outlined">
        <mat-card-header class="card-header">
            <div>
                <mat-card-title>💰 {{ debt.amount | currency }}</mat-card-title>
                <mat-card-subtitle>📅 Due: {{ debt.dueDate | date:'longDate' }}</mat-card-subtitle>
            </div>
            <div>
                <button mat-flat-button color="primary" class="pill-button" (click)="openPayDialog(debt)">
                    Pay</button>
            </div>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content>
            <h4>Payments</h4>

            @if (debt.payments.length) {
            <mat-list>
                @for (payment of debt.payments; track payment.id ?? $index) {
                <mat-list-item>
                    <div class="payment-info">
                        <span>{{ payment.amount | currency }}</span>
                        <span class="dot">•</span>
                        <span>{{ payment.date | date:'mediumDate' }}</span>
                        <span class="dot">•</span>
                        <span>{{ payment.note }}</span>
                    </div>
                </mat-list-item>
                }
            </mat-list>
            } @else {
            <p class="no-payments">No payments yet</p>
            }
        </mat-card-content>
    </mat-card>
    } @empty {
    <p class="no-payments">No debts yet</p>
    }
</div>