<div class="form-container">

    <div *ngIf="loading(); else content">
        <mat-spinner></mat-spinner>
    </div>

    <ng-template #content>
        <div *ngIf="error(); else clientBlock" class="error">
            <p>Error loading client: {{ error()?.message || error() }}</p>
        </div>
    </ng-template>

    <ng-template #clientBlock>
        <ng-container *ngIf="client() as client">
            <div class="client-data-container">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput [value]="client.firstName" readonly />
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput [value]="client.lastName" readonly />
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Bank Account Number</mat-label>
                    <input matInput [value]="client.bankAccountNumber" readonly />
                </mat-form-field>
            </div>
        </ng-container>
    </ng-template>

</div>

<div>
    <app-client-debt-component *ngIf="client()?.debts" [debts]="client().debts"></app-client-debt-component>
</div>