<div class="client-container">
    @if (loading()) {
    <mat-spinner></mat-spinner>
    } @else {
    @if (error()) {
    <div class="error">
        <p>Error loading client: {{ error()?.message || error() }}</p>
    </div>
    } @else {
    @if (client(); as client) {
    <mat-card class="client-information-container">
        <mat-card-header>
            <div mat-card-avatar class="client-card-header-avatar">
                {{ client.firstName[0] }}{{ client.lastName[0] }}
            </div>
            <mat-card-title>{{ client.firstName }} {{ client.lastName }}</mat-card-title>
            <mat-card-subtitle>Client information</mat-card-subtitle>
        </mat-card-header>

        <mat-divider class="divider"></mat-divider>

        @if(isReadOnly()) {

        <mat-card-content class="client-card-content-container">
            <div class="client-card-content-row">
                <p class="client-data-label">First Name</p>
                <p class="client-data-label">{{client.firstName}}</p>
            </div>

            <div class="client-card-content-row">
                <p class="client-data-label">Last Name</p>
                <p class="client-data-label">{{client.lastName}}</p>
            </div>

            <div class="client-card-content-row">
                <p class="client-data-label">Bank Account Number</p>
                <p class="client-data-label">{{client.bankAccountNumber}}</p>
            </div>

            <mat-card-actions align="end">
                <button matButton="elevated" class="pill-button" mat-flat-button color="primary"
                    (click)="openDebtDialog()">Get Loan
                    💰 </button>
                <button matButton="elevated" class="pill-button" mat-flat-button color="primary"
                    (click)="changeReadOnlyStatus()">Edit</button>
            </mat-card-actions>
        </mat-card-content>

        } @else {

        <form [formGroup]="form">

            <mat-card-content class="client-card-content-container">
                <div class="client-card-content-row">
                    <p class="client-data-label">First Name</p>
                    <mat-form-field appearance="fill" class="client-card-content-form">
                        <input matInput class="client-data" formControlName="firstName" />
                    </mat-form-field>
                </div>

                <div class="client-card-content-row">
                    <p class="client-data-label">Last Name</p>
                    <mat-form-field appearance="fill">
                        <input matInput class="client-data" formControlName="lastName" [defaultValue]="client" />
                    </mat-form-field>
                </div>

                <div class="client-card-content-row">
                    <p class="client-data-label">Bank Account Number</p>
                    <mat-form-field appearance="fill">
                        <input matInput class="client-data" formControlName="bankAccountNumber" />
                    </mat-form-field>
                </div>

            </mat-card-content>

            <mat-card-actions align="end">
                <button matButton="elevated" class="pill-button button-save" mat-flat-button color="primary"
                    (click)="changeReadOnlyStatus(); updateClientData();">Save</button>
            </mat-card-actions>
        </form>
        }



    </mat-card>

    @if(client?.debts)
    {
    <app-client-debt-component [debts]="client.debts"></app-client-debt-component>
    }

    } @else {
    <p>Loading client…</p>
    }}}
</div>