.client-container {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-card {
    width: fit-content;
    border: 2px solid #87b0fd;
}

.avatar {
    background-color: #87b0fd !important;
}

.divider {
    background-color: #87b0fd;
}

.client-information-container {
    border: 2px solid #87b0fd;
    width: fit-content;
}

.client-card-header-avatar {
    background-color: #87b0fd;
    color: #1a237e;
    font-weight: 600;
    display: grid;
    place-items: center;
}

.client-card-content-container {
    display: flex;
    flex-direction: column;
}

.client-data {
    background-color: transparent;
}

.client-card-content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.client-data-label {
    padding-left: 10px;
    padding-right: 20px;
    font-family: Roboto, sans-serif;
}

.pill-button {
    border-radius: 30px;
    margin-left: 10px;
}

.button-save {
    color: #1a237e !important;
    background-color: #87b0fd !important;
    font-weight: 600 !important;
}

.client-information-container {
    margin-bottom: 50px;
}